@import 'keep-react/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkgrey: rgb(31, 31, 31); /* Dark grey */
  --teal: rgb(17, 68, 85); /* Teal */
  --white: rgb(255, 255, 255); /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: rgb(255, 255, 255); /* White */
    --darkgrey: rgb(31, 31, 31); /* Dark grey */
  }
}

body {
  color: var(--teal);
  padding: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary_button {
  color: var(--teal);
  border-color: var(--teal);
  transition: all 0.8s ease;
}
body .primary_button:hover {
  color: var(--white);
  background-color: var(--teal);
}
