@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkgrey: rgb(31, 31, 31); /* Dark grey */
  --teal: rgb(17, 68, 85); /* Teal */
  --white: rgb(255, 255, 255); /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: rgb(255, 255, 255); /* White */
    --darkgrey: rgb(31, 31, 31); /* Dark grey */
  }
}

body {
  color: var(--teal);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
