@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
  /* --b1: #114455; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --teal: #114455;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --teal: #fff;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* 
--darkgrey: rgb(31, 31, 31);
--teal: rgb(17, 68, 85); 
--white: rgb(255, 255, 255); 
*/
