.slick-track {
  display: flex !important;
  gap: 70px;
}

.slick-arrow:before {
  color: var(--teal) !important;
  font-size: 50px !important;
}

.slick-prev {
  top: -60px !important;
  left: 1420px !important;
}
.slick-next {
  right: 26px !important;
  top: -60px !important;
}

@media screen and (max-width: 1535px) {
  .slick-prev {
    top: -60px !important;
    left: 1170px !important;
  }
  .slick-next {
    right: 26px !important;
    top: -60px !important;
  }
}

@media screen and (max-width: 1280px) {
  .slick-prev {
    top: -60px !important;
    left: 916px !important;
  }
  .slick-next {
    right: 26px !important;
    top: -60px !important;
  }
}

@media screen and (max-width: 1024px) {
  .slick-arrow {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .slick-track {
    gap: 0px;
  }
}
